/* visual */
.visual {
    background: url(../images/intro-bg.jpg) no-repeat center center / cover;
    width: 100%; 
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.visual .tit {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.15em;
}

/* tit-sns */
.tit-sns {
    margin-top: 50px;
}

.tit-sns .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #EDEDED;
    padding: 0 20px 20px;
}

.tit-sns .flex h3 {
    font-size: 30px;
    font-weight: 500;
}

.tit-sns .flex .sns-share {
    display: flex;
    gap: 5px;
}

.tit-sns .flex .sns-share button {
    width: 30px;
    height: 30px;
}

.tit-sns .flex .sns-share button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* #################################################################################### */

/* content */

.controller {
    padding: 50px 0;
}

.controller .list-controls {
    padding: 30px;
    border: 1px solid #EDEDED;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controller .list-controls .count {
    font-size: 18px;
}

.controller .list-controls .count > span {
    font-weight: 600;
    color: #0170e0;
}

.controller .list-controls .sort-area {
    display: flex;
    gap: 30px;
}

.controller .list-controls .sort-area select {
    border: none;
    border-bottom: 2px solid #0170e0;
}

.filter-option {
    border-bottom: 1px solid #EDEDED;
    padding-bottom: 10px;
}

.filter-option ul {
    display: flex;
    justify-content: flex-end;
}

.filter-option ul li {
    position: relative;
    padding-left: 20px;
}

.filter-option ul li::after {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 50%;
    background-color: #ccc;
    content: "";
}

.filter-option ul li:first-of-type::after {
    display: none;
}

/* intro */
.intro {
    margin: 100px 0;
}

.intro .flex {
    display: flex;
    justify-content: center;
}

.pagination .content-item-list {
    position: relative;
    display: flex;
    flex-direction: column;
}

.pagination .content-item-list::after {
    position: absolute;
    right: 270px;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #EDEDED;
    content: "";
}

.pagination .content-item-list .content-item {
    display: flex;
    padding: 30px 0;
    border-bottom: 1px solid #ededed;
}

.pagination .content-item-list .content-item .item-thumbnail a {
    display: block;
    width: 350px;
    height: 250px;
}

.pagination .content-item-list .content-item .item-thumbnail a img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.pagination .content-item-list .content-item .item-details {
    padding: 30px 0;
    margin: 0 40px;
    width: 500px;
}

.pagination .content-item-list .content-item .item-details .item-title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 30px;
}

.pagination .content-item-list .content-item .item-details .item-info li {
    display: flex;
    gap: 5px;
    font-size: 15px;
    line-height: 1.6;
}

.pagination .content-item-list .content-item .item-details .item-info li .label {
    font-weight: 600;
}

.pagination .content-item-list .content-item .item-ratings {
    width: 190px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.pagination .content-item-list .content-item .item-ratings .rating-title {
    font-size: 14px;
    color: #555;
}

.pagination .content-item-list .content-item .item-ratings .stars {
    font-size: 22px;
    color: #ffd000;
}

.pagination .content-item-list .content-item .item-ratings .score {
    margin: 10px 0;
    font-size: 30px;
}

.pagination .content-item-list .content-item .item-ratings .add-btn {
    display: flex;
    gap: 10px;
}

.pagination .content-item-list .content-item .item-ratings .add-btn button {
    display: block;
    width: 100px;
    padding: 8px 10px;
    border-radius: 5px;
    background-color: #FFF;
    border: 1px solid #CCC;
    font-size: 14px;
}
.pagination .content-item-list .content-item .item-ratings .add-btn button.blue {
    background-color: #0170e0;
    color: #FFF;
    border: none;
}

.pagination-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 50px 0;
}

.pagination-section .list-pagination {
    display: flex;
    gap: 5px;
}

.pagination-section button {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #EDEDED;
    transition: 0.3s all;
}

.pagination-section button span {
    display: flex;
    align-items: center;
    justify-content: center;
}
